<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName hhfa.moh.rw
    ServerAlias www.hhfa.moh.rw
    DocumentRoot /var/www/hhfa.moh.rw
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory /var/www/hhfa.moh.rw>
          Options -Indexes +FollowSymLinks
		  AllowOverride All
          Require all granted
    </Directory>

</VirtualHost>